/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
ul,
li {
  text-decoration: none;
  list-style: none;
}

* {
  --gray: #f3f3f3;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/**
Layout Configuration
END*/
/** START
Section Configuration
*/
.green {
  background-color: greenyellow;
}

.black {
  background-color: black;
  color: white;
}

.white {
  background-color: white;
  color: black;
}

.gray {
  background-color: #f3f3f3;
  color: black;
}

/**
Section Configuration
END*/
/** START
UL Configuration
*/
.btn-1 {
  padding: 10px 20px;
  background-color: white;
  border: 1px solid black;
  font-family: "Inter", mono;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/**
UI Configuration
END*/
img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.hero {
  height: 80vh;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

header {
  width: 100vw;
  height: 55px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2vw;
  padding-top: 19px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-item {
  margin-right: 20px;
}
.menu-item a {
  font-weight: 600;
  color: black;
}
.menu-item a:hover {
  opacity: 0.8;
}

.lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
}
.lang a {
  font-weight: 600;
  color: black;
}
.lang a:hover {
  opacity: 0.8;
}

img {
  transform-origin: left;
}

.reveal {
  visibility: hidden;
  position: relative;
  width: 80%;
  height: 80%;
  max-width: 500px;
  overflow: hidden;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fixed {
  position: fixed;
}

/** START
Layout Configuration
*/
.full {
  width: 100vw;
  height: 100vh;
}

.half {
  width: 50vw;
  height: inherit;
}

.content {
  width: 100%;
  height: 100%;
  padding: 30em;
}

.gap {
  height: 55px;
  width: 100%;
  background-color: var(--gray);
}

/*# sourceMappingURL=public.css.map */
